html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.buton_universal {
    background-color: white;
    color: #33b249;
    border: 2px solid #33b249;
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.1) !important;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buton_universal:hover {
    background-color: #33b249;
    color: white;
}

.buton_editare {
    background-color: white;
    color: #559cda;
    border: 2px solid #559cda;
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.1) !important;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buton_editare:hover {
    background-color: #559cda;
    color: white;
}

.buton_stergere {
    background-color: white;
    color: #c73a3a;
    border: 2px solid #c73a3a;
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.1) !important;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buton_stergere:hover {
    background-color: #c73a3a;
    color: white;
}

nav a {
    color: #07b58c;
    text-decoration: none;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1) !important;
    padding: 0px 0px;
    margin: 0 8px;
    border-radius: 4px;
    transition: color 0.3s ease;
    font-size: 18px;
}

nav a:hover {
    color: #07b58c !important;
}

.navbar-toggleable-sm {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1) !important;
}


